#detail-modal {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 9999;
  width: 1080px;
  border-radius: 20px;
  height: 75%;
  display: flex;
  justify-content: center;
  top: 105px;
  overflow-y: scroll;
  padding: 50px;
  scrollbar-width: none;
}

#post-item > #modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경색 및 투명도 조정 */
  z-index: 9999; /* 다른 요소 위에 표시되도록 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
}

#post-item {
  width: 281px;
  height: 466px;
  border: #d9d9d9 solid 1px;
  border-radius: 20px;
  position: relative;
  margin: 10px;
  margin-top: 40px;
  cursor: pointer;
}

#post-item > #modal-wrap {
  cursor: default;
}

#item-img {
  height: 281px;
  width: 281px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#item-text {
  padding: 10px 15px;
}

#item-text > h3 {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 20px;
  height: 4ch;
  overflow: hidden;
}

#item-body {
  height: 4.2ch;
  padding-top: 0;
  overflow: hidden;
  font-size: 12px;
  color: #989898;
  margin-bottom: 5px;
}

#post-item > .align-column > .align-row {
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: flex-end;
}

.badge {
  position: absolute;
  background-color: #f4d03f;
  border-radius: 30px;
  top: 10px;
  left: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 82px;
  display: flex;
  justify-content: center;
  height: 33px;
  align-items: center;
}

#date {
  font-size: 16px;
  color: #989898;
  height: 38px;
  display: flex;
  align-items: center;
}

#detail-title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-right: 10px;
  max-width: 750px;
}

#title-dday > .badge {
  position: initial;
  margin-top: 5px;
}

#title-dday {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3px;
}

#detail-modal > .align-column > .align-row {
  display: flex;
  justify-content: space-between;
  border-bottom: #989898 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#detail-modal > .align-column {
  width: 1084px;
}

#category {
  gap: 3px;
  color: #5d5d5d;
  font-size: 20px;
}

#detail-button {
  width: 200px;
  height: 63px;
  font-size: 24px;
}

#detail-body {
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 20px;
  font-size: 24px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Inter';
}

#chatbot-item {
  width: 281px;
  height: fit-content;
  border: #d9d9d9 solid 1px;
  border-radius: 20px;
  position: relative;
  margin: 10px;
  margin-top: 40px;
  cursor: pointer;
}

#detail-img {
  max-width: 1084px;
}
