button {
  background-color: darkgreen;
  border: none;
  color: white;
  size: 10px;
  font-weight: bold;
  padding: 12px;
  border-radius: 5px;
  height: 40px;
  width: 90px;
  cursor: pointer;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span {
  color: darkgreen;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 800;
}

label {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.align-row {
  display: flex;
  flex-direction: row;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Inter';
}

p {
  margin: 0px;
}
