button {
  background-color: #16a085;
  border: none;
  color: white;
  size: 16px;
  font-weight: bold;
  border-radius: 10px;
  height: 38px;
  width: 109px;
  cursor: pointer;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: black;
}

span {
  color: darkgreen;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 800;
}

label {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.align-row {
  display: flex;
  flex-direction: row;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Inter';
}

p {
  margin: 0px;
}

textarea {
  resize: none;
}
