button {
  background-color: darkgreen;
  border: none;
  color: white;
  size: 10px;
  font-weight: bold;
  padding: 12px;
  border-radius: 5px;
  height: 40px;
  width: 90px;
  cursor: pointer;
}

span {
  color: darkgreen;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 800;
}
