#dropdown {
  width: 240px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}

#filter {
  display: flex;
  gap: 20px;
  width: 1180px;
  align-items: flex-start;
}

#select-modal {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 25px;
  z-index: 9999;
  width: 478px;
  border-radius: 10px;
}

#line {
  border-top: #ccc 1px solid;
  margin-top: 20px;
  padding-top: 10px;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
}

#select-list {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#select {
  border: 1px black solid;
  border-radius: 30px;
  margin: 6px;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selected {
  background-color: #37e0bf;
  color: white;
}

#search-major > #search-box {
  width: 95%;
  height: 58px;
  border: 1px #989898 solid;
}

#search-major > #search-box > input {
  width: 80%;
  height: 58px;
  font-size: 20px;
}

#search-major > #search-box > img {
  padding-left: 15px;
  padding-right: 10px;
}
